
$bgColor: #333;
$reversedBgColor: rgba(255, 255, 255, 0.8);
$lighterBgColor: rgba(255, 255, 255, 0.05);

$color: rgba(255, 255, 255, 0.8);
$borderColor: rgba(255, 255, 255, 0.1);

#navbar{

    background-color: $bgColor;

    .navbar {

        &.bg-app{
            background-color: $bgColor;
        }

        a{
            text-transform: capitalize;
            color: $color;
        }

        .navbar-toggler {

            border-color: $borderColor;
            background-color: $lighterBgColor;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }

        }
    }

}
